html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Stop default scrolling */
}

#canvas-container {
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Tillad vertikal scrolling */
  overflow-x: hidden; /* Skjul evt. horisontal scrollbar*/
  position: relative;
}